@import './config';

body{
    background: url(/assets/images/bglIghtbackground.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@import './taskbar', './video', './startmenu';